:root {
  --base-orange: rgb(255, 191, 0);
  --grey: #e0e0e0;
  --material-ui-pri: #1769aa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
section {
  width: 100%;
  display: flex;
}

.details-container {
  justify-content: space-between;
  min-width: 10%;
  border-right: 1px solid var(--grey);
  padding: 0.2rem;
}
.container {
  width: 100%;
  padding: 2vw;
  height: auto;
}
.courses-container {
  justify-content: flex-start;
}

.card-content {
  position: relative;
}
.avatar-box {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.avatar {
  border-radius: 50%;
}
.image {
  object-fit: cover;
  width: 50%;
}
.grey-outline {
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.grey-outline::before {
  content: "";
  width: 10%;
  height: 2px;
  background-color: rgb(255, 191, 0);
}
.rating-box {
  justify-content: space-between;
  padding: 1vw;
}
.MuiTabs-indicator {
  background-color: rgb(255, 191, 0) !important;
  top: 0px;
}
.Mui-selected {
  background-color: white !important;
  display: flex !important;
  flex-direction: row !important;
  color: grey !important;
}
.MuiTab-root {
  display: flex !important;
  flex-direction: row !important;
}
.course-tabs {
  background-color: var(--grey);
}
.tab {
  width: 25%;
}
.typography {
  margin: 0.5rem !important;
  text-align: justify !important;
}

.description-container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
.description-container ul {
  list-style: none; /* Remove default bullets */
}

.description-container article ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(255, 191, 0); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.features-list {
  list-style: none !important;
  border-left: 1px solid var(--grey);
}
.icons {
  color: var(--base-orange);
}
.list-item-text {
  text-align: right;
}
.list-item {
  margin: 1rem 0;
  border-bottom: 1px solid var(--grey);
  padding: 1rem;
}
.study-header {
  width: 100%;
  display: flex;
}
.drawer-container {
  max-width: 40%;
  min-width: 25%;
  border-right: 1px solid var(--grey);
}
.drawer {
  cursor: pointer;
}
.test-container {
  position: relative;
  width: 70%;
  padding: 2rem;
}
.form {
  margin: 2rem 0 !important;
  width: 100%;
}
.input-label {
  border: 1px solid var(--grey);
  margin: 1rem 0 !important;
}
.pagination-button {
  padding: 0.5rem;
  background: none;
  cursor: pointer;
  border-radius: 10%;
  margin: 2px;
  border: 1px solid var(--grey);
}
.question {
  display: none;
}
.active-question {
  display: block;
}
.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Poppins";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: black;
}

.pageLinkActive {
  color: white;
}
.result-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result-container ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result-circle {
  width: 10rem;
  height: 10rem;

  border-radius: 100%;
  border: 5px solid var(--grey);
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result-list-item {
  display: flex;
  justify-content: space-between !important;
  width: 70% !important;
  padding: 1rem;
  border-bottom: 1px solid var(--grey);
  width: 70%;
  padding: 0 !important;
}
.drawer-item {
  display: flex;
  align-items: "center";
  border-bottom: 1px solid var(--grey);
}
